[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiofiles = "*"
aiohttp = "*"
"bs4" = "*"
cachalot = "*"
cliff = "*"
colorama = "*"
future-fstrings = "*"
jsonpickle = "*"
lxml = "*"
maya = "*"
"ruamel.yaml" = "*"
tinydb = "*"
tinydb-smartcache = "*"


[dev-packages]

coverage = "*"
pypandoc = "*"
pytest = "*"
pytest-asyncio = "*"
wheel = "*"
