[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiofiles = "*"
aiohttp = "*"
"bs4" = "*"
cachalot = ">=0.1.2"
cliff = "*"
colorama = "*"
future-fstrings = "*"
lxml = "*"
maya = ">=0.3.4"
"ruamel.yaml" = "*"


[dev-packages]

coverage = "*"
pytest = "*"
pytest-asyncio = "*"
wheel = "*"
