[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 100
py36 = false

[tool.poetry]
name = "Mariner"
version = "1.3.0"
description = "Command line torrent searcher"
authors = ["Radek Sprta <mail@radeksprta.eu>"]
license = "GPL-3.0"

readme = "README.md"

homepage = "https://radek-sprta.gitlab.io/mariner/"
repository = "https://gitlab.com/radek-sprta/mariner"
documentation = "https://radek-sprta.gitlab.io/mariner/"

keywords = ["cli", "torrent", "search", "scraper", "downloader"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Operating System :: POSIX :: Linux",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Natural Language :: English",
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Internet :: WWW/HTTP :: Indexing/Search",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7"
]

packages = [
    { include = "mariner", from = "src" },
]

include = ["LICENSE", "config/*.yaml"]

[tool.poetry.dependencies]
python = "^3.5.3"
aiodns = "^1.1.1"
aiofiles = "^0.4.0"
aiohttp = "^3.5.1"
"bs4" = "^0.0.1"
cachalot = ">=0.1.3"
cliff = "=2.9.1"
cmd2 = "=0.7.8"
colorama = "^0.4.1"
future-fstrings = "^0.4.4"
lxml = "^4.2.5"
maya = "^0.6.0"
"ruamel.yaml" = "^0.15.82"
tokenize-rt = "^2.1.0"

[tool.poetry.dev-dependencies]
coverage = "^4.5.2"
flake8 = "^3.6.0"
pre-commit = "^1.13.0"
pylint="^2.2"
pytest = "^4.0.2"
pytest-asyncio = "^0.9.0"
pytest-vcr = "^1.0.1"
wheel = "*"
vcrpy = "^2.0.1"

[tool.poetry.scripts]
mariner = 'mariner.main:main'

[tool.poetry.plugins."mariner.cli"]
"config" = "mariner.commands.config:Config"
"details" = "mariner.commands.details:Details"
"download" = "mariner.commands.download:Download"
"magnet" = "mariner.commands.magnet:Magnet"
"open" = "mariner.commands.open:Open"
"search" = "mariner.commands.search:Search"
