interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://katcr.co/katsearch/page/1/zxcvbnm
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n    <meta name=\"robots\"
        content=\"noindex\" />\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=Edge\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n    <title>Cookies - JavaScript : Policy &mdash; KickassTorrents</title>\n
        \   <link rel=\"stylesheet\" href=\"/assestss/css/_style.min.css\" />\n    <link
        rel=\"shortcut icon\" type=\"image/x-icon\" href=\"/assestss/images/favicon.ico\"
        />\n</head>\n<body>\n    <header class=\"fixed--top\">\n        <nav><a class=\"header__brand\"
        href=\"/new/full/\"><span class=\"header__logo\"></span></a>\n            <form
        class=\"torrent_search\" action=\"/usearch/torrents-search.php\" method=\"get\"
        accept-charset=\"utf-8\" onsubmit=\"return doSearch(this.search.value)\">\n
        \               <input class=\"torrent_search__input_field form_control\"
        type=\"text\" name=\"q\" value=\"\" autocomplete=\"off\" placeholder=\"Search
        query\" required>\n                <span class=\"torrent_search__button_group\"><a
        class=\"button\" href=\"\" title=\"Advanced search\"><i class=\"kf__gear\"></i></a>\n
        \            <button class=\"button\" type=\"submit\" title=\"Search\"><i
        class=\"kf__search\"></i></button></span></form>\n            <input type=\"checkbox\"
        id=\"navigation\">\n            <label class=\"navbar__toggler\" for=\"navigation\">\n
        \                <span class=\"toggle__closed_label navbar__toggler_icon\">&#9776;</span><span
        class=\"toggle__opened_label navbar__toggler_icon\">&times;</span>\n               </label>\n
        \           <ul class=\"navigation\" id=\"js-scrollfix\">\n                <li
        class=\"navigation__item\"><a class=\"navigation__link\" href=\"/gallery/movies/page/\"><i
        class=\"kf__camera\"></i> Gallery</a></li>\n                <li class=\"navigation__item\">\n\n
        \                   <a class=\"navigation__link\" href=\"/new/\"><i class=\"kf__torrent\"></i>
        Browse</a>\n                    <ul class=\"navigation__sub_items columns-2\">\n
        \                       <li class=\"navigation__item\"><a class=\"navigation__link\"
        href=\"/category/latest/page/\"><i class=\"kf__torrent button button--icon-button\"></i>
        Latest</a></li>\n                        <li class=\"navigation__item\"><a
   [...]
[...]
