interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nyaa.si/?f=0&c=0_0&q=ubuntu
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>ubuntu
        :: Nyaa</title>\n\n\t\t<meta name=\"viewport\" content=\"width=480px\">\n\t\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t\t<link rel=\"shortcut
        icon\" type=\"image/png\" href=\"/static/favicon.png\">\n\t\t<link rel=\"icon\"
        type=\"image/png\" href=\"/static/favicon.png\">\n\t\t<link rel=\"mask-icon\"
        href=\"/static/pinned-tab.svg\" color=\"#3582F7\">\n\t\t<link rel=\"alternate\"
        type=\"application/rss+xml\" href=\"https://nyaa.si/?page=rss&amp;q=ubuntu&amp;c=0_0&amp;f=0\"
        />\n\n\t\t<meta property=\"og:site_name\" content=\"Nyaa\">\n\t\t<meta property=\"og:title\"
        content=\"ubuntu :: Nyaa\">\n\t\t<meta property=\"og:image\" content=\"/static/img/avatar/default.png\">\n<meta
        property=\"og:description\" content=\"Search for 'ubuntu'\">\n\n\t\t<!-- Bootstrap
        core CSS -->\n\t\t<!--\n\t\t\tNote: This has been customized at http://getbootstrap.com/customize/
        to\n\t\t\tset the column breakpoint to tablet mode, instead of mobile. This
        is to\n\t\t\tmake the navbar not look awful on tablets.\n\t\t-->\n\t\t<link
        href=\"/static/css/bootstrap.min.css?t=1494621267\" rel=\"stylesheet\" id=\"bsThemeLink\">\n\t\t<link
        href=\"/static/css/bootstrap-xl-mod.css?t=1495603805\" rel=\"stylesheet\">\n\t\t<!--\n\t\t\tThis
        theme changer script needs to be inline and right under the above stylesheet
        link to prevent FOUC (Flash Of Unstyled Content)\n\t\t\tDevelopment version
        is commented out in static/js/main.js at the bottom of the file\n\t\t-->\n\t\t<script>function
        toggleDarkMode(){\"dark\"===localStorage.getItem(\"theme\")?setThemeLight():setThemeDark()}function
        setThemeDark(){bsThemeLink.href=\"/static/css/bootstrap-dark.min.css?t=1495008187\",localStorage.setItem(\"theme\",\"dark\"),document.body!==null&&document.body.classList.add('dark')}function
        setThemeLight(){bsThemeLink.href=\"/static/css/bootstrap.min.css?t=1494621267\",localStorage.setItem(\"theme\",\"light\"),document.body!==null&&document.body.classList.remove([...]
