interactions:
- request:
    body: null
    headers:
    method: get
    uri: https://archive.org/details/feature_films?and%5B%5D=one+body+too+many&sin=
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<!-- __ _ _ _ __| |_ (_)__ _____\n\
        \    / _` | '_/ _| ' \\| |\\ V / -_)\n    \\__,_|_| \\__|_||_|_| \\_/\\___|\
        \ -->\n  <head data-release=fbb83596>\n    <title>Feature Films : Free Movies\
        \ : Free Download, Borrow and Streaming : Internet Archive</title>\n\n   \
        \       <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        />\n    \n        <meta name=\"google-site-verification\" content=\"Q2YSouphkkgHkFNP7FgAkc4TmBs1Gmag3uGNndb53B8\"\
        \ />\n    <meta name=\"google-site-verification\" content=\"bpjKvUvsX0lxfmjg19TLblckWkDpnptZEYsBntApxUk\"\
        \ />\n\n    <script>\n/* @licstart  The following is the entire license notice\
        \ for the\n * JavaScript code in this page.\n *\n * This program is free software:\
        \ you can redistribute it and/or modify\n * it under the terms of the GNU\
        \ Affero General Public License as published by\n * the Free Software Foundation,\
        \ either version 3 of the License, or\n * (at your option) any later version.\n\
        \ *\n * This program is distributed in the hope that it will be useful,\n\
  [...]
