interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nyaa.pantsu.cat/search?c=_&q=zxcvbnm
  response:
    body: {string: "\n<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n<meta charset=\"\
        utf-8\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n<meta\
        \ name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<meta\
        \ name=\"keywords\" content=\"nyaa, torrents, pantsu, anime, manga, sukebei,\
        \ nyaapassu, horriblesubs, dlsite\" />\n<meta name=\"description\" content='The\
        \ leading open-source community-based nyaa.se successor, suitable for all\
        \ anime and manga needs. \u306B\u3083\u3093\u3071\u3059~!' />\n\n<title>Nyaa\
        \ Pantsu - No results found</title>\n\n<script src=\"/cdn-cgi/apps/head/8H1Mota-TfWpO6AVggoi-nhjggk.js\"\
        ></script><link rel=\"icon\" type=\"image/png\" href=\"/img/favicon.png\"\
        \ />\n<link rel=\"shortcut icon\" type=\"image/png\" href=\"/img/favicon.png\"\
        \ />\n\n<meta property=\"og:site_name\" content=\"Nyaa Pantsu\" />\n<meta\
        \ property=\"og:title\" content=\" - No results found - Nyaa Pantsu\" />\n\
        <meta property=\"og:image\" content=\"/img/favicon.png\" />\n<meta property=\"\
        og:description\" content=\"Nyaa Pantsu Homepage\" />\n<meta name=\"clckd\"\
        \ content=\"04eb5245cbd11ba2e0fd541dfd5c93ce\" />\n\n<link rel=\"alternate\"\
        \ type=\"application/rss+xml\" title=\"Nyaa Pantsu - Latest torrents RSS Feed\"\
        \ href=\"/feed?c=_&q=zxcvbnm\" />\n<link rel=\"alternate\" type=\"application/rss+xml\"\
        \ title=\"Nyaa Pantsu - Latest torrents Torznab RSS Feed\" href=\"/feed/torznab?c=_&q=zxcvbnm&t=search\"\
        \ />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Nyaa Pantsu\
        \ - Latest torrents EZTV RSS Feed\" href=\"/feed/eztv?c=_&q=zxcvbnm\" />\n\
        \n<link rel=\"stylesheet\" href=\"/css/simplemde.min.css?v=1.1.0\" />\n\n\
        <link rel=\"stylesheet\" id=\"style\" href=\"/css/main.css?v=1.1.0\" />\n\n\
        <link rel=\"stylesheet\" href=\"/css/nyacon.css?v=1.1.0\" />\n\n<link rel=\"\
        stylesheet\" id=\"theme\" href=\"/css/themes/g.css?v=1.1.0\" />\n\n<link rel=\"\
        stylesheet\" href=\"/css/flags/flags.min.css\" />\n\n<script type=\"application/ld+json\"\
        >{\"@context\":\"https://schema.org\",\"@type\":\"WebSite\",\"url\":\"https://nyaa.pantsu.cat/\"\
        ,\"potentialAction\":{\"@type\":\"SearchAction\",\"target\":\"https://nyaa.pantsu.cat/search?q={search_term_string}\"\
        ,\"query-input\":\"required name=search_term_string\"} }</script>\n<script>window.popns\
        \ = 'TsanPop';</script>\n<script src=\"/src/nmjrov.js\"></script>\n<script\
        \ src=\"/scr/wtixyd.js\"></script>\n</head>\n<body>\n<nav id=\"header\" class=\"\
        header\">\n<div class=\"container\">\n<div class=\"h-left\">\n<div class=\"\
        h-logo\">\n<a href=\"/\">\n<img class=\"hide-md\" src=\"/img/logo.png\" alt=\"\
        Nyaa Pantsu\" />\n<img class=\"visible-md\" src=\"/img/logo_s.png\" alt=\"\
        Nyaa Pantsu\" />\n</a>\n</div>\n<div class=\"h-nav\">\n<a href=\"/\" class=\"\
        nav-btn\" id=\"browse-link\" style=\"display: none;\">\n<div class=\"icon-upload\
        \ visible-md\"></div>\n<span class=\"hide-md\">Browse</span>\n</a>\n<a href=\"\
        /upload\" class=\"nav-btn\">\n<div class=\"icon-upload visible-md\"></div>\n\
        <span class=\"hide-md\">Upload</span>\n</a>\n<a href=\"/feed?c=_&q=zxcvbnm\"\
        \ class=\"nav-btn\">\n<div class=\"icon-rss-squared visible-md\"></div>\n\
        <span class=\"hide-md\">RSS</span>\n</a>\n<a href=\"/faq\" class=\"nav-btn\"\
        >\n<div class=\"icon-help-circled visible-md\"></div>\n<span class=\"hide-md\"\
        >FAQ</span>\[...]
