interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://limetorrents.info/search/all/zxcvbnm/seeds/1
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta
        name=\"description\" content=\"Download zxcvbnm Torrents from Our Searched
        Results, GET zxcvbnm Torrent or Magnet via Bittorrent clients.\" />\n<title>zxcvbnm
        Torrents Download - LimeTorrents.info</title><link href=\"/static/main-19.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n<link rel=\"shortcut icon\" type=\"image/x-icon\"
        href=\"/favicon.ico\" />\n<link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"LimeTorrents.info Torrents Search\" href=\"//www.limetorrents.info/opensearch.xml\"
        />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Limetorrents.info
        RSS feed\" href=\"//www.limetorrents.info/rss/\" />\n<link rel=\"dns-prefetch\"
        href=\"//ajax.googleapis.com/\">\n<meta name=\"google-site-verification\"
        content=\"DRTI2jym8cVB7QYzWeau8DeEVgWS2RnjAhFJo6Q-mrQ\" />\n<meta name=\"msvalidate.01\"
        content=\"C5D3EE0B24D80CFC05FF8403D06A835E\" />\n<meta name=\"yandex-verification\"
        content=\"cea253c1c9200233\" />\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n<meta name=\"author\" content=\"Limetorrents.info\" />\n</head>\n<body>\n<div>\n<script
        src=\"//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js\" type=\"text/javascript\"></script>\n<div
        id=\"fb-root\"></div>\n<div id=\"header\">\n<div id=\"headerleft\">\n<form
        action=\"/post/search.php\" id=\"searchform\" name=\"searchform\" method=\"post\">\n<div
        id=\"logo\"><a href=\"/home/\" target=\"_top\" class=\"csprite_logo\" title=\"LimeTorrents.info
        - Download Verified Torrents\"></a><br />\n<p>\n<label class=\"labelheader\"><input
        type=\"radio\" checked=\"checked\" name=\"catname\" value=\"all\" />All torrents</label>\n<label
        class=\"labelheader\"><input type=\"radio\" name=\"catname\" value=\"anime\"
        />Anime</label>\n<label class=\"labelheader\"><input type=\"radio\" name=\"catname\"
        value=\"applications\" />Applications</label>\n<label class=\"labelheader\"><input
        type=\"radio\" name=\"catname\" value=\"games\" />Games</label>\n<label class=\"labelheader\"><input
        type=\"radio\" name=\"catname\" value=\"movies\" />Movies</label>\n<label
        class=\"labelheader\"><input type=\"radio\" name=\"catname\" value=\"music\"
        />Music</label>\n<label class=\"labelheader\"><input type=\"radio\" name=\"catname\"
        value=\"tv\" />TV shows</label>\n<label class=\"labelheader\"><input type=\"radio\"
        name=\"catname\" value=\"other\" />Other</label>\n</p>\n</div>\n<div id=\"search\">\n<div
        id=\"searchdiv\">\n<div id=\"searchfieldouter\">\n<input type=\"text\" class=\"searchfield\"
        name=\"q\" value=\"zxcvbnm\" />\n</div>\n</div>\n<div id=\"searchbutton\"><button
        type=\"submit\" class=\"searchbuttonimg\"></button>\n</div>\n</div>\n</form>\n</div>\n<div
        id=\"headerright\">\n<div id=\"userlogin\">\n<form action=\"/process.php\"
        method=\"post\">\nUsers Login<br />\nEmail: <input type=\"text\" name=\"email\"
        value=\"\" class=\"headerinput\" /><br />\nPassword: <input type=\"password\"
        name=\"password\" class=\"headerinput\" /><br />\n<input type=\"hidden\" name=\"sublogin\"
        value=\"1\" />\n<input type=\"hidden\" name=\"remember\" value=\"1\" />\n<input
        type=\"submit\" value=\"Login\" class=\"userloginbutton\" /></form>\n<a href=\"/register/\">Create
        [...]
