interactions:
- request:
    body: &id001 {}
    headers:
    method: get
    uri: https://nyaa.pantsu.cat/search?c=_&q=ubuntu
  response:
    body: {}
    headers:
      Content-Type: text/html
      Location: https://nyaa.net/search?c=_&q=ubuntu
    status:
      code: 302
      message: Moved Temporarily
    url: https://nyaa.pantsu.cat/search?c=_&q=ubuntu
- request:
    body: *id001
    headers:
    method: get
    uri: https://nyaa.pantsu.cat/search?c=_&q=ubuntu
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n  <meta charset=\"utf-8\">\n
        \ <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n  <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\"/>\n  <meta name=\"keywords\"
        content=\"nyaa, torrents, pantsu, anime, manga, sukebei, nyaapassu, horriblesubs,
        dlsite\"/>\n  <meta name=\"description\" content='The leading open-source
        community-based nyaa.se successor, suitable for all anime and manga needs.
        \u306B\u3083\u3093\u3071\u3059~!'/>\n\n  <!-- The above 3 meta tags *must*
        come first in the head; any other head content must come *after* these tags
        -->\n  <title>Nyaa Pantsu - ubuntu </title>\n  <!-- Flavicons and icons -->\n
        \ <link rel=\"icon\" type=\"image/png\" href=\"/img/favicon.png\" />\n  <link
        rel=\"shortcut icon\" type=\"image/png\" href=\"/img/favicon.png\"/>\n\n  <!--
        SMO -->\n  <meta property=\"og:site_name\" content=\"Nyaa Pantsu\"/>\n  <meta
        property=\"og:title\" content=\" - ubuntu  - Nyaa Pantsu\"/>\n  <meta property=\"og:image\"
        content=\"/img/favicon.png\"/>\n  <meta property=\"og:description\" content=\"Nyaa
        Pantsu Homepage\"/>\n<meta name=\"clckd\" content=\"04eb52[...]
