interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://archive.org/details/feature_films
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<!-- __ _ _ _ __| |_ (_)__
        _____\n    / _` | '_/ _| ' \\| |\\ V / -_)\n    \\__,_|_| \\__|_||_|_| \\_/\\___|
        -->\n  <head>\n    <title>Feature Films : Free Movies : Free Download, Borrow
        and Streaming : Internet Archive</title>\n\n          <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\"/>\n    \n        <meta name=\"google-site-verification\"
        content=\"Q2YSouphkkgHkFNP7FgAkc4TmBs1Gmag3uGNndb53B8\" />\n\n    <script>window.archive_setup=[]</script>\n
        \       <meta charset=\"UTF-8\">    <script src=\"//archive.org/includes/jquery-1.10.2.min.js?v1.10.2\"
        type=\"text/javascript\"></script>\n    <link href=\"//archive.org/includes/redmond/jquery-ui-1.10.3.min.css\"
        rel=\"stylesheet\" type=\"text/css\"/>\n    <script src=\"//archive.org/includes/jquery-ui-1.10.3.min.js?v1.10.3\"
        type=\"text/javascript\"></script>\n            <script src=\"//archive.org/includes/analytics.js?v=c43a447\"
        type=\"text/javascript\"></script>\n\n    <script>\n      'use strict';\n
        \     if ('archive_analytics' in window) {\n                  archive_analytics.service
        = \"ao_2[...]
