interactions:
- request:
    body: {}
    headers:
    method: get
    uri: https://anidex.info/?q=linux&s=seeders&o=desc
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html lang=\"en\">\r\n\r\n<head>\r\n\t<meta
        charset=\"utf-8\">\r\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n\t<!--
        The above 3 meta tags *must* come first in the head; any other head content
        must come *after* these tags -->\r\n\t<meta name=\"author\" content=\"AniDex\">\r\n\t<meta
        name=\"description\" content=\"A torrent tracker specialising in content from
        East Asia, including anime, manga, music, adult videos and more.\">\r\n\t<meta
        name=\"keywords\" content=\"torrents, bittorrent, torrent, tracker, anime,
        manga, jav, download, anidex, magnet, magnets\">\r\n\t<meta name=\"google-site-verification\"
        content=\"gLKc5Bo31XuJgukTOp5rpaFlxK6lHsoav7HP5L9WdiM\" />\r\n\r\n\t<meta
        property=\"og:site_name\" content=\"AniDex\" />\r\n\t<meta property=\"og:title\"
        content=\"AniDex\" />\r\n\t<meta property=\"og:image\" content=\"https://anidex.info/images/misc/Anidex
        Logo.png\" />\r\n\t<meta property=\"og:url\" content=\"https://anidex.info/?q=linux&s=seeders&o=desc\"
        />\r\n\t<meta property=\"og:description\" content=\"A torrent tracker specialising
        in content from East Asia, including anime, manga, music, adult videos and
        more.\" />\r\n\t<meta property=\"og:type\" content=\"website\" />\r\n\r\n\t<link
        rel=\"icon\" href=\"/favicon.ico\">\r\n\r\n\t<link rel='canonical' href='https://anidex.info/'
        />\t<title>AniDex</title>\r\n\r\n\t<!-- Bootstrap core CSS -->\r\n\t<link
        href=\"/bootstrap/css/bootstrap.1.css?v=32\" rel=\"stylesheet\">\r\n\t\r\n\t<!--
        Bootstrap select CSS -->\r\n\t<link href=\"/bootstrap/css/bootstrap-select.min.css\"
        rel=\"stylesheet\">\r\n\t\r\n\t<!-- Bootstrap checkbox CSS -->\r\n\t<link
        href=\"/bootstrap/css/bootstrap-checkbox.css\" rel=\"stylesheet\">\r\n\t\r\n\t<!--
        Custom styles for this template -->\r\n\t<link href=\"/scripts/css/theme.css?v=5\"
        rel=\"stylesheet\">\r\n\r\n\t<!-- Fontawesone glyphicons -->\r\n\t<link href=\"/fontawesome/css/all.css\"
        rel=\"stylesheet\" />\r\n</head>\r\n\r\n<body>\r\n<script>\r\n  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\r\n
        \ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\r\n
        \ m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\r\n
        \ })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');\r\n\r\n
        \ ga('create', 'UA-98517813-1', 'auto');\r\n  ga('send', 'pageview');\r\n\r\n</script>\r\n\t<!--
        Fixed navbar -->\r\n\t<nav class=\"navbar navbar-default navbar-fixed-top\">\r\n\t\t<div
        class=\"container\">\r\n\t\t\t<div class=\"navbar-header\">\r\n\t\t\t\t<button
        type=\"button\" class=\"navbar-toggle collapsed\" data-toggle=\"collapse\"
        data-target=\"#navbar\" aria-expanded=\"false\" aria-controls=\"navbar\">\r\n\t\t\t\t\t<span
        class=\"sr-only\">Toggle navigation</span>\r\n\t\t\t\t\t<span class=\"icon-bar\"></span>\r\n\t\t\t\t\t<span
        class=\"icon-bar\"></span>\r\n\t\t\t\t\t<span class=\"icon-bar\"></span>\r\n\t\t\t\t</button>\r\n\t\t\t\t<a
        class=\"navbar-brand\" id=\"home_button\" href=\"/\">AniDex</a>\r\n\t\t\t</div>\r\n\t\t\t<div
        id=\"navbar\" class=\"navbar-collapse collapse\">\r\n\t\t\t\t<ul class=\"nav
        navbar-nav\" id=\"nav_links\">\r\n\t<li id=\"login\">\r\n    \t<a href=\"/login\"
        title=\"You need to log in.\"><span class='fas fa-upload fa-fw' aria-hidden='true'
        title='Upload'></span> <span class=\"nav-label-992\">Upload</span></a>\r\n
        \   </li>\r\n\t\r\n\r\n<li class=\"\" id=\"groups\">\r\n\t<a href=\"/groups\"><span
        class='fas fa-users fa-fw' aria-hidden='true' title='Groups'></span> <span
        class=\"nav-label-992\">Groups</span></a>\r\n</li>\r\n\r\n\r\n<li class=\"\"
        id=\"hosting\">\[...]
