interactions:
- request:
    body: {}
    headers:
    method: get
    uri: https://nyaa.net/search?c=_&q=ubuntu
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n  <meta charset=\"\
        utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n \
        \ <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"\
        />\n  <meta name=\"keywords\" content=\"nyaa, torrents, pantsu, anime, manga,\
        \ sukebei, nyaapassu, horriblesubs, dlsite\"/>\n  <meta name=\"description\"\
        \ content='The leading open-source community-based nyaa.se successor, suitable\
        \ for all anime and manga needs. \u306B\u3083\u3093\u3071\u3059~!'/>\n<meta\
        \ name=\"juicyads-site-verification\" content=\"c8c998b00c1e48cf0d7e369afe638471\"\
        >\n\t<script async src=\"https://arc.io/widget.min.js#BAxygnk1\"></script>\n\
        \  <!-- The above 3 meta tags *must* come first in the head; any other head\
        \ content must come *after* these tags -->\n  <title>Nyaa Pantsu - ubuntu\
        \ </title>\n  <!-- Flavicons and icons -->\n  <link rel=\"icon\" type=\"image/png\"\
        \ href=\"/img/favicon.png\" />\n  <link rel=\"shortcut icon\" type=\"image/png\"\
        \ href=\"/img/favicon.png\"/>\n\n  <!-- SMO -->\n  <meta property=\"og:site_name\"\
        \ content=\"Nyaa Pantsu\"/>\n  <meta property=\"og:title\" content=\" - ubuntu\
        \  - Nyaa Pantsu\"/>\n  <meta property=\"og:image\" content=\"/img/favicon.png\"\
        />\n  <meta property=\"og:description\" content=\"Nyaa Pantsu Homepage\"/>\n\
        \n  <!-- RSS [...]
