interactions:
- request:
    body: null
    headers:
    method: get
    uri: https://archive.org/details/feature_films?and%5B%5D=zxcvbnm&sin=
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<!-- __ _ _ _ __| |_ (_)__ _____\n
        \   / _` | '_/ _| ' \\| |\\ V / -_)\n    \\__,_|_| \\__|_||_|_| \\_/\\___|
        -->\n  <head>\n    <title>Feature Films : Free Movies : Free Download, Borrow
        and Streaming : Internet Archive</title>\n\n          <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\"/>\n    \n        <meta name=\"google-site-verification\"
        content=\"Q2YSouphkkgHkFNP7FgAkc4TmBs1Gmag3uGNndb53B8\" />\n    <meta name=\"google-site-verification\"
        content=\"bpjKvUvsX0lxfmjg19TLblckWkDpnptZEYsBntApxUk\" />\n\n    <script>window.archive_setup=[]</script>\n
        \   <meta charset=\"UTF-8\">\n    <script src=\"//archive.org/includes/jquery-1.10.2.min.js?v1.10.2\"
        type=\"text/javascript\"></script>\n            <script src=\"//archive.org/includes/analytics.js?v=c4a485f6\"
        type=\"text/javascript\"></script>\n\n    <script>\n      'use strict';\n
        \     if ('archive_analytics' in window) {\n                  archive_analytics.service
        = \"ao_2\";\n        \n        archive_analytics.s[...]
