interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bt.etree.org/?searchzzzz=wilco
  response:
    body: {string: "<!-- SKIP :  -->\n<!DOCTYPE html\n    PUBLIC \"-//W3C//DTD XHTML
        1.0 Transitional//EN\"\n    \"DTD/xhtml1-strict.dtd\">\n<html><head>\n<title>bt.etree.org
        | Community Tracker</title>\n<link rel=\"stylesheet\" href=\"torrent.css\"
        type=\"text/css\" />\n\t<link rel=\"alternate stylesheet\" href=\"/lib/bt_411.css\"
        title=\":p\" type=\"text/css\">\n</head>\n\n\n\n<BODY bgColor=#bfd5ba leftMargin=0
        topMargin=0 marginwidth=\"0\" marginheight=\"0\">\n<TABLE height=\"100%\"
        cellSpacing=0 cellPadding=0 width=\"100%\" border=0>\n  <TBODY>\n  <TR>\n
        \   <TD width=\"100%\" align=left vAlign=top>\n      <TABLE height=80 cellSpacing=0
        cellPadding=0 width=\"100%\" bgColor=white\n      border=0>\n        <TBODY>\n
        \       <TR>\n          <TD width=10></TD>\n          <TD><A href=\"http://bt.etree.org/\">\n\t\t<IMG
        alt=\"bt.etree.org\" src=\"pic/logo.gif\" border=0></a>\n\t  </TD>\n\t<td
        align=\"right\">\n\t<div style=\"text-align:right;\"><span id=\"freetext_1\"></span>\n\n</div>\n\t</td>\n\t</TR></TBODY></TABLE>\n
        \     <TABLE cellSpacing=0 cellPadding=0 border=0>\n        <TBODY>\n        <TR
        height=20>\n          <TD width=20 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD></TR>\n        <TR height=20>\n          <TD width=20 height=20></TD>\n
        \         <TD width=110 height=20><a href=\"index.php\"><IMG height=17\n            src=\"pic/b_new.gif\"
        width=110 border=0></a></TD>\n          <TD width=10 height=20></TD>\n          <TD
        width=110 height=20><a href=\"upload.php\"><IMG height=17\n            src=\"pic/b_artist.gif\"
        width=110 border=0></TD>\n          <TD width=10 height=20></a></TD>\n\n                        <TD
        width=110 height=20><a href=\"login.php\"><IMG height=17\n            src=\"pic/b_fan.gif\"
        width=110 border=0></a></TD>\n             [...]
