interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nyaa.si/?f=0&c=0_0&q=qwertyzxcvb
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>qwertyzxcvb
        :: Nyaa</title>\n\n\t\t<meta name=\"viewport\" content=\"width=480px\">\n\t\t<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t\t<link rel=\"shortcut
        icon\" type=\"image/png\" href=\"/static/favicon.png\">\n\t\t<link rel=\"icon\"
        type=\"image/png\" href=\"/static/favicon.png\">\n\t\t<link rel=\"mask-icon\"
        href=\"/static/pinned-tab.svg\" color=\"#3582F7\">\n\t\t<link rel=\"alternate\"
        type=\"application/rss+xml\" href=\"https://nyaa.si/?page=rss&amp;q=qwertyzxcvb&amp;c=0_0&amp;f=0\"
        />\n\n\t\t<meta property=\"og:site_name\" content=\"Nyaa\">\n\t\t<meta property=\"og:title\"
        content=\"qwertyzxcvb :: Nyaa\">\n\t\t<meta property=\"og:image\" content=\"/static/img/avatar/default.png\">\n<meta
        property=\"og:description\" content=\"Search for 'qwertyzxcvb'\">\n\n\t\t<!--
        Bootstrap core CSS -->\n\t\t<!--\n\t\t\tNote: This has been customized at
        http://getbootstrap.com/customize/ to\n\t\t\tset the column breakpoint to
        tablet mode, instead of mobile. This is to\n\t\t\tmake the navbar not look
        awful on tablets.\n\t\t-->\n\t\t<link href=\"/static/css/bootstrap.min.css?t=1494621267\"
        rel=\"stylesheet\" id=\"bsThemeLink\">\n\t\t<link href=\"/static/css/bootstrap-xl-mod.css?t=1495603805\"
        rel=\"stylesheet\">\n\t\t<!--\n\t\t\tThis theme changer script needs to be
        inline and right under the above stylesheet link to prevent FOUC (Flash Of
        Unstyled Content)\n\t\t\tDevelopment version is commented out in static/js/main.js
        at the bottom of the file\n\t\t-->\n\t\t<script>function toggleDarkMode(){\"dark\"===localStorage.getItem(\"theme\")?setThemeLight():setThemeDark()}function
        setThemeDark(){bsThemeLink.href=\"/static/css/bootstrap-dark.min.css?t=1495008187\",localStorage.setItem(\"theme\",\"dark\"),document.body!==null&&document.body.classList.add('dark')}function
        setThemeLight(){bsThemeLink.href=\"/static/css/bootstrap.min.css?t=1494621267\",localStorage.setItem(\"theme\",\"light\"),document.body!==null&&document.body.classList.remove('dark')}[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tokyotosho.info/search.php?terms=qwertyzxcvb
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.1//EN\" \"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\">\n<head><meta http-equiv=\"Content-Type\"
        content=\"text/html;charset=utf-8\" />\n<title>Tokyo Toshokan :: #tokyotosho
        @ irc.rizon.net :: Torrent Search</title><link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://ttcdn.info/css12.php\" title=\"Default\" />\n\t\t<link rel=\"alternate
        stylesheet\" type=\"text/css\" href=\"https://ttcdn.info/css_inverse.php\"
        title=\"Inverse\" />\n\t<link rel=\"icon\" type=\"image/png\" href=\"https://ttcdn.info/favicon.png\"
        />\n\t\n\t<link rel=\"shortcut icon\" href=\"https://www.tokyotosho.info/favicon.ico\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"https://ttcdn.info/20130401/clippyjs/build/clippy.css\"
        media=\"all\" /><link rel=\"alternate\" title=\"Tokyo Toshokan RSS\" href=\"rss.php\"
        type=\"application/rss+xml\" />\n\t<link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"Tokyo Toshokan\" href=\"/tokyotosho-search.php\" /></head><body><script
        type=\"text/javascript\" src=\"https://ttcdn.info/styleswitcher.js\"></script><div
        id=\"main\">\n<h1>Tokyo <span title=\"Japanese: Libary\">Toshokan</span></h1>\n<div
        class=\"centertext\">\u6771\u4EAC \u56F3\u66F8\u9928</div>\n<h2><a class=\"h2\"
        style=\"font-size: 9pt\" href=\"irc://irc.rizon.net/tokyotosho\">#tokyotosho
        @ irc.rizon.net</a><br />\n<span style=\"font-size: 8pt\"><a href=\"http://tokyotosho.info\">http://tokyotosho.info</a>
        <a href=\"http://tokyotosho.se\">http://tokyotosho.se</a> <a href=\"http://tokyo-tosho.net\">http://tokyo-tosho.net</a></span>\n</h2>\n<h3>A
        BitTorrent <span title=\"English: Toshokan\">Library</span> for Japanese Media</h3>\n\n<ul
        class=\"menuwrapper\">\n<li class=\"menu\"><a class=\"head\" title=\"Lost?\"
        href=\"index.php\">Home</a> (<a class=\"head\" href=\"https://www.tokyotosho.info/\">SSL</a>)
        ::</li>\n<li class=\"menu\"><a class=\"head\" href=\"settings.php\">Customize</a>
        ::</li>\n<li class=\"menu\"><a class=\"head\" href=\"login.php\">Register/Login</a>
        ::</li>\n<li class=\"menu\"><a class=\"head\" title=\"Tell us about a torrent
        we don't know about\" href=\"new.php\">Submit New Torrent</a> ::</li>\n<li
        class=\"menu\"><a class=\"head\" title=\"We probably have what you're looking
        for!\" href=\"search.php\">Search</a> ::</li>\n<li class=\"menu\"><a class=\"head\"
        title=\"Keep on top of the releases\" href=\"rss.php\">RSS</a> (<a class=\"head\"
        title=\"Or just some of the releases\" href=\"rss_customize.php\">Customize</a>)<br
        /></li>\n<li class=\"menu\"><a class=\"head\" title=\"Documents!\" href=\"/pico\">Docs</a>
        ::</li>\n<li class=\"menu\"><a class=\"head\" title=\"Chat or idle with us
        on IRC\" href=\"irc://irc.rizon.net/tokyotosho\">Chat</a> ::</li>\n<li class=\"menu\"><a
        class=\"head\" title=\"It's teh moniez\" href=\"/donate.php\">Donate!</a>
        ::</li>\n<li class=\"menu\"><a class=\"head\" title=\"Let's hear from you!\"
        href=\"/contact.php\">Contact</a> ::</li>\n<li class=\"menu\"><strong><a class=\"head\"
        href=\"https://www.privateinternetaccess.com/pages/protect-tt/\">VPN Service</a></strong>
        ::</li>\n<li class=\"menu\"><a class=\"head\" href=\"http://idlerpg.tokyotosho.info\">IdleRPG</a>
        ::</li>\n<li class=\"menu\"><a class=\"head\" title=\"Off site status page\"
        href=\"http://status.tokyotosho.info\">Status Page</a></li>\n</ul>\n<table
        class=\"centertext\" style=\"width: 100%; margin-left: auto; margin-right:
        auto; padding-bottom: 1em; margin: 0;\">\n<tr><td id=\"tsearch\">Torrent Search</td></tr>\n</table>\n<p
        class=\"centertext\"><a href=\"https://www.privateinternetaccess.com/pages/pia-2yr-deal/TT001\"><img
        alt=\"Private Internet Access\" src=\"https://ttcdn.info/quxcTUTqlQ.jpg\"
        /></a></p>\t<form style=\"margin: 0; padding; 0\" action=\"/search.php\" method=\"get\"
        accept-charset=\"utf-8\">\n\t<table class=\"centertext\" cellspacing=\"0\"
        cellpadding=\"0\" style=\"width: 100%; padding-bottom: 1em; margin: 0;\">\n\t<tr><td>\n\t<input
        size=\"60\" type=\"text\" name=\"terms\" value=\"qwertyzxcvb\" />\n\t<select
        name=\"type\">\n\t<option value=\"0\">All</option>\n\t<option value=\"1\">Anime</option><option
        value=\"10\">Non-English</option><option value=\"3\">Manga</option><option
        value=\"8\">Drama</option><option value=\"2\">Music</option><option value=\"9\">Music
        Video</option><option value=\"7\">Raws</option><option value=\"4\">Hentai</option><option
        value=\"12\">Hentai (Anime)</option><option value=\"13\">Hentai (Manga)</option><option
        value=\"14\">Hentai (Games)</option><option value=\"11\">Batch</option><option
        value=\"15\">JAV</option><option value=\"5\">Other</option>\t</select><br
        />\n\t<input type=\"checkbox\" name=\"searchName\" value=\"true\"  id=\"searchName\"
        /><label for=\"searchName\">Search name</label>\n\t<span style=\"font-variant:
        small-caps;\">Or</span>\n\t<input type=\"checkbox\" name=\"searchComment\"
        value=\"true\"  id=\"searchComment\" /><label for=\"searchComment\">Search
        comment</label><br />\n\t<label for=\"minMB\">Torrent Size (Min MB):</label>\n\t<input
        id=\"minMB\" size=\"4\" type=\"text\" name=\"size_min\" value=\"\" />\n\t<label
        for=\"maxMB\">(Max MB):</label>\n\t<input size=\"4\" type=\"text\" name=\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://proxybay.github.io
  response:
    body: {string: "<!doctype html>\n<html lang=\"en\">\n<head>\n  <title>The Proxy
        Bay - Unblock The Pirate Bay</title>\n  <meta charset=\"utf-8\">\n  <meta
        name=\"description\" content=\"Unable to access The Pirate Bay? Use a proxy
        site to bypass your ISP block\">\n  <meta name=\"keywords\" content=\"pirate,
        bay, proxy, list, thepiratebay, piratebay, piratebay [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://linuxtracker.org/index.php?page=torrents&search=qwertyzxcvb
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        prefix=\"og: http://ogp.me/ns#\"  itemscope itemtype=\"http://schema.org/Blog\">\r\n<head>\r\n
        \ <title>Index->Torrents</title>\r\n  <meta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://limetorrents-proxy.ga/
  response:
    body: {string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
        xml:lang=\"en\" lang=\"en\">\n<head>\n<title>LimeTorrents Proxy :: List of
        LimeTorrents unblock mirrors 2018</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta name=\"robots\" content=\"index,follow\"
        />\n<meta http-equiv=\"content-language\" content=\"en\" />\n<meta name=\"description\"
        content=\"LimeTorrents blocked by your ISP? Use a unblock proxy mirrors to
        access LimeTorrents. Unblocked LimeTorrents (limetorrents.inf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://limetorrents.mrunlock.icu/search/all/qwertyzxcvb/seeds/1
  response:
    body: {string: "<!DOCTYPE HTML>\n<html lang=\"en-US\">\n<head>\n  <meta charset=\"UTF-8\"
        />\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"
        />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge,chrome=1\" />\n
        \ <meta name=\"robots\" content=\"noindex, nofollow\" />\n  <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=1\" />\n  <title>Just
        a moment...</title>\n  <style type=\"text/css\">\n    html, body {width: 100%;
        height: 100%; margin: 0; padding: 0;}\n    body {background-color: #ffffff;
        font-family: Helvetica, Arial, sans-serif; font-size: 100%;}\n    h1 {font-size:
        1.5em; color: #404040; text-align: center;}\n    p {font-size: 1em; color:
        #404040; text-align: center; margin: 10px 0 0 0;}\n    #spinner {margin: 0
        auto 30px auto; display: block;}\n    .attribution {margin-top: 20px;}\n    @-webkit-keyframes
        bubbles { 33%: { -webkit-transform: translateY(10px); transform: translateY(10px);
        } 66% { -webkit-transform: translateY(-10px); transform: translateY(-10px);
        } 100% { -webkit-transform: translateY(0); transform: translateY(0); } }\n
        \   @keyframes bubbles { 33%: { -webkit-transform: translateY(10px); transform:
        translateY(10px); } 66% { -webkit-transform: translateY(-10px); transform:
        translateY(-10px); } 100% { -webkit-transform: translateY(0); transform: translateY(0);
        } }\n    .bubbles { background-color: #404040; width:15px; height: 15px; margin:2px;
        border-radius:100%; -webkit-animation:bubbles 0.6s 0.07s infinite ease-in-out;
        animation:bubbles 0.6s 0.07s infinite ease-in-out; -webkit-animation-fill-mode:both;
        animation-fill-mode:both; display:inline-block; }\n  </style>\n\n    <script
        type=\"text/javascript\">\n  //<![CDATA[\n  (function(){\n    var a = function()
        {try{return !!window.addEventListener} catch(e) {return !1} },\n    b = function(b,
        c) {a() ? document.addEventListener(\"DOMContentLoaded\", b, c) : document.attachEvent(\"onreadystatechange\",
        b)};\n    b(function(){\n      var a = document.getElementById('cf-content');a.style.display
        = 'block';\n      setTimeout(function(){\n        var s,t,o,p,b,r,e,a,k,i,n,g,f,
        FyLnaJZ={\"rWkSagQsay\":+((!+[]+!![]+!![]+!![]+!![]+!![]+!![]+[])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![])+(+[])+(+[])+(!+[]+!![]+!![])+(!+[]+!![]+!![]+!![])+(!+[]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![]))/+((!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+[])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[]+!![]+!![]+!![]+!![]+!![]+!![])+(!+[[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://distrowatch.com/dwres.php?resource=bittorrent
  response:
    body: {string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"
        \"http://www.w3.org/TR/html4/loose.dtd\"><html><head>\n<title>DistroWatch.com:
        Put the fun back into computing. Use Linux, BSD.</title>\n<meta http-equiv=\"content-type\"
        content=\"text/html; charset=UTF-8\" />\n<meta name=\"description\" content=\"News
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pirateproxy.app/search/qwertyzxcvb
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>The Pirate
        Bay - The galaxy's most resilient bittorrent site</title>\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"/>\n    <link rel=\"search\" type=\"application/opensearchdescription+xml\"
        href=\"/opensearch.xml\" title=\"Search The Pirate Bay\" />\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bt.etree.org/?searchzzzz=qwertyzxcvb
  response:
    body: {string: "<!-- SKIP :  -->\n<!DOCTYPE html\n    PUBLIC \"-//W3C//DTD XHTML
        1.0 Transitional//EN\"\n    \"DTD/xhtml1-strict.dtd\">\n<html><head>\n<title>bt.etree.org
        | Community Tracker</title>\n<link rel=\"stylesheet\" href=\"torrent.css\"
        type=\"text/css\" />\n\t<link rel=\"alternate stylesheet\" href=\"/lib/bt_411.css\"
        title=\":p\" type=\"text/css\">\n</head>\n\n\n\n<BODY bgColor=#bfd5ba leftMargin=0
        topMargin=0 marginwidth=\"0\" marginheight=\"0\">\n<TABLE height=\"100%\"
        cellSpacing=0 cellPadding=0 width=\"100%\" border=0>\n  <TBODY>\n  <TR>\n
        \   <TD width=\"100%\" align=left vAlign=top>\n      <TABLE height=80 cellSpacing=0
        cellPadding=0 width=\"100%\" bgColor=white\n      border=0>\n        <TBODY>\n
        \       <TR>\n          <TD width=10></TD>\n          <TD><A href=\"http://bt.etree.org/\">\n\t\t<IMG
        alt=\"bt.etree.org\" src=\"pic/logo.gif\" border=0></a>\n\t  </TD>\n\t<td
        align=\"right\">\n\t<div style=\"text-align:right;\"><span id=\"freetext_1\"></span>\n\n</div>\n\t</td>\n\t</TR></TBODY></TABLE>\n
        \     <TABLE cellSpacing=0 cellPadding=0 border=0>\n        <TBODY>\n        <TR
        height=20>\n          <TD width=20 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD>\n          <TD width=10 height=20></TD>\n          <TD width=110
        height=20></TD></TR>\n        <TR height=20>\n          <TD width=20 height=20></TD>\n
        \         <TD width=110 height=20><a href=\"index.php\"><IMG height=17\n            src=\"pic/b_new.gif\"
        width=110 border=0></a></TD>\n          <TD width=10 height=20></TD>\n          <TD
        width=110 height=20><a href=\"upload.php\"><IMG height=17\n            src=\"pic/b_artist.gif\"
        width=110 border=0></TD>\n          <TD width=10 height=20></a></TD>\n\n                        <TD
        width=110 height=20><a href=\"login.php\"><IMG height=17\n            src=\"pic/b_fan.gif\"
        width=110 border=0></a></TD>\n             [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/details/feature_films?and%5B%5D=qwertyzxcvb&sin=
  response:
    body: {string: "<!DOCTYPE html>\n<html lang=\"en\">\n<!-- __ _ _ _ __| |_ (_)__
        _____\n    / _` | '_/ _| ' \\| |\\ V / -_)\n    \\__,_|_| \\__|_||_|_| \\_/\\___|
        -->\n  <head>\n    <title>Feature Films : Free Movies : Free Download, Borrow
        and Streaming : Internet Archive</title>\n\n          <meta name=\"viewport\"
        c[...]
